@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-form-item .ant-form-item-label > label {
  color: linear-gradient(to right, #28a745, #1e7e34) !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  letter-spacing: 0.5px !important;
}
